
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-frame{
  /* max-width: 50%; */
  border: 1px solid green;
  height: 550px;
  width: 450px;
}
 
#title-style{
  color: blue;
  text-align: center;
}

#input-number {
 font-size: 24px;
 height: 50px;
 width: 439px;
 padding-left: 2px;
 padding-right: 2px;
 margin-left:2px;
 margin-right:2px;
 color: white;
 background-color: black;
}


.button-area {
  /* margin: 5px auto; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  max-width: 447px;
}
  .button-area button {
   background: #999;
    padding: 1em 2.4em;
    font-size: .9em;
    margin: 0.5em;
    color: white;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
}